/* Default styles for larger screens */
:root {
  --primary-color: #9b4abe;
  --background: #d2c2ff;
  --accent: red;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--background);
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto auto;
  height: 160px;
}

div {
  font-size: xx-large;
}

.logo {
  width: 30%;
  margin: 20px 15%;
  border-radius: 10px;
  background-color: var(--background);
  padding: 40px 0px;
}

.logo:hover {
  width: 35%;
  transition: 0.3s;
  background-color: white;
}

#navBar {
  width: 65%;
  margin: 20px 15%;
  border-radius: 10px;
  background-color: var(--background);
  font-size: xx-large;
  padding: 40px 0px;
}

#navBar:hover {
  width: 70%;
  transition: 0.3s;
  background-color: white;
}

#homeSection div {
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 220px 0;
}

#FEATURES {
  margin-top: 40px;
}

section h1 {
  width: 400px;
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 20px;
  font-size: xx-large;
}

section h1:hover {
  background-color: var(--accent);
  font-size: larger;
  transition: 0.5s;
  color: white;
  font-size: 40px;
}

#FEATURES .about.img {
  width: 600px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 220px 0;
}

#FEATURES .about.img:hover {
  width: 650px;
  transition: 1s;
}

#FEATURES p {
  width: 80%;
  font-size: larger;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 60px 0;
}

hr {
  width: 80%;
  margin: 50px;
}

#pallet h1 {
  font-size: xxx-large;
  font-weight: lighter;
}

#Works {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}

.myWorks {
  padding: 20px 0;
  margin: 0;
}

.myWorks div {
  width: 500px;
  padding: 180px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

.myWorks div:hover {
  width: 550px;
  transition: 0.3s;
}

.myWorks h3 {
  font-size: x-large;
}

.myWorks h3:hover {
  color: var(--accent);
}

#AR.and.X-Ray {
  margin: 100px;
}

.skill div {
  width: 700px;
  margin: 50px auto;
  padding: 180px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
}

#AR.and.X-Ray h3 {
  font-size: x-large;
}

#AR.and.X-Ray h3:hover {
  color: var(--accent);
}

.contactUsForm {
  background-color: var(--primary-color);
  padding: 100px;
  width: 900px;
  margin: 0 auto;
  border-radius: 20px;
}

.contactUsForm form {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 100px;
  font-size: x-large;
  border-radius: 20px;
}

.contactUsForm form:hover {
  border: 5px solid var(--accent);
  transition: 0.4s;
}

footer {
  padding: 100px;
}

footer h3 {
  font-size: x-large;
  margin-bottom: 80px;
}

footer h3:hover {
  color: var(--accent);
}

.socialMedia {
  padding: 40px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1100px) {
  .logo {
    width: 58%;
    margin: 20px 5%;
  }
  .logo:hover {
    width: 60%;
  }
  #navBar {
    width: 55%;
    margin: 20px 5%;
    border-radius: 10px;
    background-color: var(--background);
    font-size: xx-large;
    padding: 40px;
  }
  #navBar:hover {
    width: 60%;
    transition: 0.3s;
    background-color: white;
  }
  #pallet h1 {
    font-size: xx-large;
  }
  .myWorks {
    padding: 10px 20px;
  }
  .myWorks div {
    width: 100%;
  }
  .myWorks div:hover {
    width: 110%;
  }
  #AR.and.X-Ray {
    margin: 70px;
  }
  .skill div {
    width: 600px;
  }
  .contactUsForm {
    padding: 40px;
    width: 600px;
  }
  .contactUsForm form {
    width: 400px;
    padding: 50px;
    font-size: x-large;
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  #FEATURES .about.img {
    width: 500px;
  }
  #FEATURES .about.img:hover {
    width: 550px;
    transition: 1s;
  }
  #Works {
    grid-gap: 20px;
  }
  .myWorks {
    padding: 10px 10px;
  }
  .myWorks h3 {
    font-size: larger;
  }
  .myWorks div:hover {
    width: 105%;
  }
  #AR.and.X-Ray {
    margin: 100px 50px;
  }
  .skill div {
    width: 500px;
  }
  contactUsForm {
    padding: 20px;
    width: 500px;
  }
  .contactUsForm form {
    width: 400px;
    height: 200px;
  }
  footer {
    padding: 50px 10px;
  }
}

/* Media query for extra small screens */
@media only screen and
